@font-face {
  font-family: 'icon-seller';
  src:  url('../fonts/icon-seller.eot?do1dri');
  src:  url('../fonts/icon-seller.eot?do1dri#iefix') format('embedded-opentype'),
    url('../fonts/icon-seller.ttf?do1dri') format('truetype'),
    url('../fonts/icon-seller.woff?do1dri') format('woff'),
    url('../fonts/icon-seller.svg?do1dri#icon-seller') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-seller' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e900";
}
.icon-duigou:before {
  content: "\e901";
}
.icon-fangxiang:before {
  content: "\e902";
}
.icon-gouwuche-copy:before {
  content: "\e903";
}
.icon-jia:before {
  content: "\e904";
}
.icon-stop:before {
  content: "\e905";
}
.icon-support:before {
  content: "\e906";
}
.icon-support_1:before {
  content: "\e907";
}
.icon-zan1:before {
  content: "\e908";
}
.icon-ctrl1:before {
  content: "\ea51";
}
